@inject ICartService CartService
@inject ISyncLocalStorageService LocalStorage
@implements IDisposable

<a href="cart" class="btn btn-info">
    <i class="oi oi-cart"></i>
    <span class="badge">@GetCartItemsCount()</span>
</a>


@code {
    //Kod odpowiadający za wyświetlanie ilości rzeczy w koszyku

    private int GetCartItemsCount()
    {
        var cart = LocalStorage.GetItem<List<CartItem>>("cart");
        return cart != null ? cart.Count : 0;
    }

    protected override void OnInitialized()
    {
        //renderujemy komponent przy inicializacji

        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {   //renderujemy komponent przy resetowaniu/zwolnieniu 

        CartService.OnChange -= StateHasChanged;
    }
}
